*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.hlavicka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    font-size: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    background-color: lightgoldenrodyellow;
    
}
.horni-menu{
    width: 100%;
    height: 15vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    background-color: burlywood;   
}

.menu-tlacitko{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 2vh;
    width: 10vw;
    height: auto;
}

.menu-objekty{
display: flex;
justify-content: space-around;
align-items: center;
}
form{
    width: 100vw;
    height: 22%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.Vrsek-filtr{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}
.tlacitka-filtr{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
label{
    width: 25%;
height:  3vh;
background-color: yellowgreen;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: flex;
justify-content: center;
align-self: center;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#filtr{
width: 25%;
height:  3vh;
background-color: yellow;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: flex;
justify-content: center;
align-self: center;
}
#razeniNazevVzestupne{
    width: 25%;
    height: 3vh;
    background-color: yellowgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
}

#razeniNazevSestupne{
    width: 25%;
    height: 3vh;
    background-color: yellowgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
}

#razeniCenaVzestupne{
    width: 25%;
    height: 3vh;
    background-color: yellowgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
}

#razeniCenaSestupne{
    width: 25%;
    height: 3vh;
    background-color: yellowgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
}
#maxCena{
    width: 25%;
    height: 3vh;
    background-color: wheat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
}
#minCena{
    width: 25%;
    height: 3vh;
    background-color: wheat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
}

.seznam-produktu{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}







/**
.H2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 2.6vh;
}

.cena{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 2.6vh;
    color: red;
}
img{
    width: 27vw;
    height: 20vw;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}**/

