img{
    width: 27vw;
    height: 20vw;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.hlavicka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    font-size: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    background-color: lightgoldenrodyellow;
    
}
.H2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 2.6vh;
}
.cena{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 2.6vh;
    color: red;
}

.horni-menu{
    width: 100%;
    height: 15vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    background-color: burlywood;   
}

.menu-tlacitko{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 2vh;
    width: 10vw;
    height: auto;
}

.menu-objekty{
display: flex;
justify-content: space-around;
align-items: center;
}